header {
  width: 100%;
  background-color: #eee;
}
h1 {
  font-size: 2em;
  text-align: center;
  padding: 0.4em;
}
header p {
  text-align: center;
}
#img-caption {
  color: rgb(51, 51, 51);
  text-align: center;
}
#headline {
  color: #333;
  text-align: center;
  margin-top: 2em;
}
